body {
    background-color: rgb(182, 255, 240) ;
}

h1 {
 background-color: rgb(122, 181, 194);
}

#score {
    float: left;
    margin-left: 25px;
    font-size: 40px;
}
#time {
    float: right;
    margin-right: 25px;
    font-size: 40px;
}

#show_sketch {
    float: right;
    margin-right: 15px;
    background-color: aquamarine;
    color: black;
}

#accuracy {
    font-size: 30px;
}

#sketch {
    font-size: 30px;
}

#given_sketch {
    font-size: 30px;
}
canvas 
  {
    border:5px solid white;
    border-radius:20px;
    margin-top:150px;
    box-shadow:5px 5px 5px grey;
    box-shadow: 1px 1px 38px #ffffff;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {

  from {box-shadow: 1px 1px 38px grey;}
  to {box-shadow: 1px 1px 38px white;}

}


p, span
  {
    padding-top:10px;
    font-family: 'Special Elite', fantasy;
    font-size:25px;
    
  }
