body {
    background-color: rgb(182, 255, 240) ;
}

h1 {
 background-color: rgb(122, 181, 194);
}

#score {
    float: left;
    margin-left: 25px;
    font-size: 40px;
}
#time {
    float: right;
    margin-right: 25px;
    font-size: 40px;
}

#show_sketch {
    float: right;
    margin-right: 15px;
    background-color: aquamarine;
    color: black;
}

#accuracy {
    font-size: 30px;
}

#sketch {
    font-size: 30px;
}

#given_sketch {
    font-size: 30px;
}